<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/javascripts/app.js"></script>
    </head>
    <body>
        {{>header}}
        <h3>Need Help?</h3>
        <p>{{message}}</p>
        {{>footer}}
    </body>
</html>