<!DOCTYPE html>
<html>
<title>

</title>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    {{>header}}
    <form>
        <input placeholder="Location">
        <button>
            Search
        </button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
    {{>footer}}
    <script src="/javascripts/app.js"></script>
</body>

</html>